# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller / Build
build/
dist/
starlink_stats.spec

# MSIX and ZIP Packaged binaries (large files)
*.msix
*.zip

# Private Developer Certificates (Security)
*.pfx
*.cer
*.pvk

# User/Local Settings
.vscode/
.idea/
*.log
